<div class="header">
	<span class="caption">Veranstaltungen</span>
	<input placeholder="Filter" type="text" ng-model="eventSearchQuery">
</div>
<table class="content">
	<thead>
		<tr>
			<th>Uhrzeit</th>
			<th>Ende</th>
			<th>Titel</th>
			<th>Raum</th>
			<th>Dozent</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="event in events | filter:eventSearchQuery | orderBy:['start', 'room']"
			ng-click="editEvent(event)" style="cursor: pointer">
			<!-- prepare building rep -->
			<td>{{event.start[2]}}.{{event.start[1]}}.{{event.start[0]}} {{event.start[3]}}:{{event.start[4]}}</td>
			<td>{{event.end[2]}}.{{event.end[1]}}.{{event.end[0]}} {{event.end[3]}}:{{event.end[4]}}</td>
			<td>{{event.title}}</td>
			<td>{{event.room.roomName}}</td>
			<td>{{event.lecturer.surname}}
		</tr>
	</tbody>
</table>