<div class="header">
	<div class="caption">Alle Dozenten</div>
	<input placeholder="Filter" type="text" ng-model="lecturerSearchQuery">
</div>
<table class="content" ng-controller="lecturerController">
	<tr>
		<th>Personalnummer</th>
		<th>Name</th>
		<th>Minimale Pausenzeit</th>
	</tr>
	<tr ng-repeat="lecturer in lecturers | filter:lecturerSearchQuery | orderBy:['personnelNumber']">
		<!-- prepare building rep -->
		<td>{{personnelNumber}}</td>
		<td>{{name}} {{surname}}</td>
		<td>{{minimalBreakTime}}</td>
	</tr>
	<tr>
		<td/>
		<td> 
			<form name="lecturerNameForm">
				<input type="text" ng-model="lecturerToSave.name" placeholder="Vorname"  
					required minlength="2" ng-pattern="/^[a-zA-Z\s\-]*$/"/> 
				<input type="text" ng-model="lecturerToSave.surname" placeholder="Nachname"  
					required minlength="2" ng-pattern="/^[a-zA-Z\s\-]*$/"/> 
			</form>
		</td>
		<td> 
			<input ng-model="lecturerToSave.minimalBreakTime" type="text"/> 
			<button ng-click="saveLecturer()" ng-disabled="lecturerNameForm.$invalid">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</td>
	</tr>
</table>