<head>
	<meta charset="UTF-8"/>
</head>
<div class="header">
	<span class="caption">{{roomListCaption}}</span>
	<button ng-show="newRoomFormVisible"  ng-click="createRoom(roomToCreate)" ng-disabled="newRoomForm.$invalid">
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
	</button>
	<button ng-show="roomListAddable" ng-click="newRoomFormVisible = !newRoomFormVisible">
		<i class="fa" aria-hidden="true" ng-class="{'fa-plus': !newRoomFormVisible, 'fa-times': newRoomFormVisible}"></i>
	</button>
	<input placeholder="Filter" type="text" ng-model="roomSearchQuery">
</div>
<table name="roomList" class="content" ng-class="{selectable: roomListSelectable}">
	<thead>
		<tr>
			<th>Raum</th>
			<th>Kapazität</th>
			<th>Wechselzeit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="room in rooms | filter:roomSearchQuery | orderBy:['name.building', 'name.number']"
			ng-click="selectRoom(room)" ng-class="{selection: selectedRoom === room}">
			<!-- prepare building rep -->
			<td>{{room.roomName}}</td>
			<td>{{room.capacity}}</td>
			<td>{{room.changeDuration}}</td>
		</tr>
	</tbody>
</table>
<form name="newRoomForm" class="table-add-entry-form shadowed-container" ng-show="newRoomFormVisible">
	<div class="fieldWrapper" style="display: inline-block; max-width: 25%;">
		<span class="fieldCaption top-caption">Gebäude</span>
		<select name="building" ng-model="roomToCreate.name.building" 
				ng-options="building for building in buildings" required></select>
	</div>
	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 25%;">
		<span class="fieldCaption top-caption">Raum</span>
		<input name="number" ng-model="roomToCreate.name.number" type="text" placeholder="Nummer"
			maxlength="3" minlength="3" required pattern="[0-9]{3}"/>
	</div>
 	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 25%;">
		<span class="fieldCaption top-caption">Kapazität</span>
		<input name="capacity" placeholder="Platzanzahl" ng-model="roomToCreate.capacity" type="text" 
			minlength="1" maxlength="3" pattern="[0-9]*"/>
	</div>
	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 25%;">
		<span class="fieldCaption top-caption">Wechselzeit</span>
		<input name="changeDuration" ng-model="roomToCreate.changeDuration" type="text" placeholder="Minuten"
			minlength="1" maxlength="2" pattern="[0-9]*"/> 
	</div>
</form>