<head>
	<meta charset="UTF-8"/>
</head>
<div class="header">
	<span class="caption">Zenturien</span>
	<button	ng-show="createWeekViewForStudentsClass"
			ng-disabled="!selectedStudentsClass"
			ng-click="createWeekViewForStudentsClass(selectedStudentsClass)">
			<i class="fa fa-calendar" aria-hidden="true"></i>
			 Wochenübersicht erstellen
		</button>
	<button ng-show="newStudentsClassFormVisible" ng-disabled="newStudentsClassForm.$invalid"
			ng-click="createStudentsClass(studentsClassToCreate)">
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
	</button>
	<button ng-show="studentsClassListAddable" ng-click="newStudentsClassFormVisible = !newStudentsClassFormVisible">
		<i class="fa" aria-hidden="true" ng-class="{'fa-plus': !newStudentsClassFormVisible, 
													'fa-times': newStudentsClassFormVisible}"></i>
	</button>
	<input placeholder="Filter" type="text" ng-model="studentsClassSearchQuery">
</div>
<table name="studentsClassList" class="content" ng-class="{selectable: studentsClassListSelectable}">
	<thead>
		<tr>
			<th>Name</th>
			<th>Größe</th>
			<th>Pausenzeit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="studentsClass in studentsClasses | filter:studentsClassSearchQuery | 
			orderBy:['id.fieldOfStudy', 'id.year', 'id.form']" ng-click="selectStudentsClass(studentsClass)"
			ng-class="{selection: selectedStudentsClass === studentsClass}">
			<!-- prepare building rep -->
			<td>{{studentsClass.name}}</td>
			<td>{{studentsClass.size}}</td>
			<td>{{studentsClass.minimalBreakTime}}</td>
		</tr>
	</tbody>
</table>
<form name="newStudentsClassForm" class="table-add-entry-form shadowed-container" ng-show="newStudentsClassFormVisible">
	<div class="fieldWrapper" style="display: inline-block; flex-grow:1; max-width: 20%;">
		<span class="fieldCaption top-caption">Studienrichtung</span>
		<select name="fieldOfStudy" ng-model="studentsClassToCreate.id.fieldOfStudy" required
				ng-options="fieldOfStudy.description for fieldOfStudy in fieldsOfStudy"></select>
	</div>
	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 20%;">
		<span class="fieldCaption top-caption">Jahrgang</span>
		<input name="yr" ng-model="studentsClassToCreate.id.year" type="text" placeholder="YYYY"
			maxlength="4" minlength="4" required pattern="[0-9]{4}"/>
	</div>
 	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 20%;">
		<span class="fieldCaption top-caption">Klasse</span>
		<input name="form" placeholder="a,b,c,d,e,f" ng-model="studentsClassToCreate.id.form" type="text" 
			minlength="1" maxlength="1" required pattern="[abcdef]"/>
	</div>
	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 20%;">
		<span class="fieldCaption top-caption">Größe</span>
		<input name="size" ng-model="studentsClassToCreate.size" type="text"
			minlength="1" maxlength="2" required pattern="[0-9]{2}"/> 
	</div>
	<div class="fieldWrapper" style="display: inline-block; flex-grow:2; max-width: 20%;">
		<span class="fieldCaption top-caption">Pausenzeit</span>
		<input name="minimalBreakTime" ng-model="studentsClassToCreate.minimalBreakTime" type="text" placeholder="Minuten"
			minlength="1" maxlength="2" required pattern="[0-9]{2}"/> 
	</div>
</form>