<div class="header margin">
	<div class="caption">Alle Raeume</div>
	<input placeholder="Filter" type="text" ng-model="roomSearchQuery">
</div>
<table class="content" ng-controller="roomController">
	<tr>
		<th>Raum</th>
		<th>Kapazitaet</th>
		<th>Wechselzeit</th>
	</tr>
	<tr ng-repeat="room in rooms | filter:roomSearchQuery | orderBy:['name.building', 'name.number']">
		<!-- prepare building rep -->
		<td>{{room.name.building}}{{room.name.number<100? '0':''}}{{room.name.number<10? '0':''}}{{room.name.number}}</td>
		<td>{{room.capacity}}</td>
		<td>{{room.changeDuration}}</td>
	</tr>
	<tr>
		<td> 
			<form name="roomEditForm">
				<input name="building" ng-model="roomToSave.name.building" required type="text" placeholder="Geb." 
						maxlength="1" minlength="1" pattern="[ABCDEH]" style="width:2.5rem;"/> 
				<input name="number" ng-model="roomToSave.name.number" type="text" placeholder="Raumnummer"
						maxlength="3" minlength="3" required pattern="[0-9]{3}" style="width:5rem;" /> 
			</form>
		</td>
		<td> 
			<input ng-model="roomToSave.capacity" type="text"/> 
		</td>
		<td> 
			<input ng-model="roomToSave.changeDuration" type="text"/> 
			<button type="submit" ng-click="saveRoom()" ng-disabled="roomEditForm.$invalid">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</td>
	</tr>
</table>