<div class="header">
	<div class="caption">Alle Zenturien</div>
	<input placeholder="Filter" type="text" ng-model="studentsClassSearchQuery">
</div>
<table class="content">
	<thead>
		<tr>
			<th>Name</th>
			<th>Groesse</th>
			<th>Minimale Pausenzeit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="studentsClass in studentsClasses | filter:studentsClassSearchQuery | 
				orderBy:['id.fieldOfStudy', 'id.yr', 'id.form']">
			<!-- prepare building rep -->
			<td>{{studentsClass.id.fieldOfStudy}}{{studentsClass.id.yr}}{{studendsClass.id.form}}</td>
			<td>{{studentsClass.size}}</td>
			<td>{{studentsClass.minimalBreakTime}}</td>
		</tr>
		<tr ng-form name="newStudentsClassForm">
			<td> 
				<input name="fieldOfStudy" ng-model="studentsClassToSave.id.fieldOfStudy" required type="text" 
						placeholder="A/B/I/W" maxlength="1" minlength="1" pattern="[ABIW]" style="width:2.5rem;"/> 
				<input name="yr" ng-model="studentsClassToSave.id.yr" type="text" placeholder="Jahrgang(YY)"
						maxlength="2" minlength="1" required pattern="[0-9]{2}" style="width: 5rem;" /> 
				<input name="form" ng-model="studentsClassToSave.id.form" type="text" placeholder="Kl."
						maxlength="1" minlength="1" required pattern="[abcdefg]" style="width: 2.5rem;" /> 
			</td>
			<td> 
				<input ng-model="studentsClassToSave.size" type="text"/> 
			</td>
			<td> 
				<input ng-model="studentsClassToSave.minimalBreakTime" type="text"/> 
				<button type="submit" ng-click="saveStudentsClass()" ng-disabled="newStudentsClassForm.$invalid">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>