<head>
	<meta charset="UTF-8"/>
</head>
<div class="header">
	<span class="caption">Wochenübersicht für {{caption}}</span>
	<input type="date" ng-model="selDate" required ng-change="fillWeekView()">
</div>
<table class="content content-followed-by-footer">
	<thead>
		<tr>
			<th>{{visibleDates[0].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[1].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[2].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[3].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[4].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[5].toLocaleDateString(undefined, dateFormat)}}</th>
			<th>{{visibleDates[6].toLocaleDateString(undefined, dateFormat)}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="i in maxEventAmount">
			<!-- prepare building rep -->
			<td>{{eventsMatchingVisibleDates[0][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[0][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[1][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[1][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[2][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[2][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[3][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[3][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[4][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[4][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[5][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[5][i].title}}</td>
			<td>{{eventsMatchingVisibleDates[6][i].start.toLocaleTimeString(undefined, timeFormat)}} {{eventsMatchingVisibleDates[6][i].title}}</td>
		</tr>
	</tbody>
</table>
<div class="footer">
	<button ng-click="close()">
		<i class="fa fa-times" aria-hidden="true"></i>
		Zurück
	</button>
</div>
<span ng-show="!maxEventAmount || maxEventAmount.length == 0"
	style="position: absolute; width: 100%; top: 30%; text-align: center;">
	In dieser Woche sind noch keine Ereignisse geplant
</span>

