/* variables */
:root {
	--general-font-size: 1rem;
	--container-header-font-size: calc(1.5 * var(--general-font-size));
	--table-header-font-size: calc(1.2 * var(--general-font-size));
	
	--margin-width: 0.5rem;
	--field-margin-width: 0.25rem;
	--container-margin-width: 2 * var(--margin-width);

	--container-width: 100%;

	--container-header-height: calc(var(--absolute-field-height) + var(--container-margin-width));
	--container-content-height: calc(100% - var(--container-header-height));
	
	--field-height: calc(var(--general-font-size));
	/* is the absolute height of a field in the dom tree */
	--absolute-field-height: calc(var(--field-height) + 
									(2 * var(--field-margin-width)) + 
									(2 * var(--field-border-width)));
	
	--field-border-width: 2px;
	
	--general-border-color: rgb(212, 212, 212);
}

/* General Styles */
body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: var(--general-font-size);
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 1;
	color: rgb(70,70,70);
}

/* Styles for a container that has a header and a content */
.header {
	background-color: rgb(238, 238, 238);
	display: flex;
	width: var(--container-width);
	
	padding: var(--margin-width);
	box-sizing: border-box;
}
.header > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: var(--margin-width);
}
.header > *:last-child {
	margin-right: 0;
}

.header .caption {
	font-size: var(--container-header-font-size);
	flex-grow: 1;
	/* Set to field-height for the case fields or buttons are contained in the header */
	line-height: var(--absolute-field-height);
}
.content {
	width: var(--container-width);
	height: var(--container-content-height);
	
	box-sizing: border-box;
	padding: var(--margin-width);
}

/* table-styling */
table {
	border: 1px solid var(--general-border-color);
	/* This style is important to prevent wrong results of the calc function (tables can't have padding anyways) */
	padding: 0 !important;
	display: flex;
	flex-direction: column;
}

tbody, thead {
	width: 100%;
}

tbody {
	flex-grow: 1;
	overflow-y: overlay;
}

tr {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid var(--general-border-color);
}

tr:nth-child(even) {
	background-color: rgb(245, 245, 245);
}

.selectable-table tr {
	cursor: pointer;
}
.selectable-table tr.selection {
	background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
	color: white;
}

th, td {
	border-right: 1px solid var(--general-border-color);
	text-align: center;
	vertical-align: middle;
	padding: var(--margin-width);
	
	/* Just a placeholder. Give all table-cells a defined width so they share the remaining space equivalent */
	width: 1px;
	flex-grow: 1;
}

th:last-of-type, td:last-of-type {
	border-right: 0;
}

th {
	font-size: var(--table-header-font-size);
	background: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
	font-weight: inherit;
}
/* tables which are addable have a form that can slide in -> styling */
.table-add-entry-form {
	position: absolute; 
	top: calc(var(--container-header-height) + var(--margin-width));
    width: calc(100% - var(--container-margin-width));
    box-sizing: border-box;
    padding: var(--margin-width);
    display: none;
    background-color: white;
    border: 1px solid var(--general-font-size);
    opacity: 0;
    transition: opacity ease-in 0.5s;
    border-radius: 2px;
    border: 1px solid var(--general-border-color);
}

.table-add-entry-form-visible {
	opacity: 1;
	display: inline-flex;
}

.shadowed-container {
	-webkit-box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.75);
}
/* styling of fields and buttons */
input, button, select {
	box-sizing: content-box;
	height: var(--field-height);
	padding: var(--field-margin-width);
	border-width: var(--field-border-width);
}

input {
	cursor: text;	
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

select {
	border-width: 1px;
	cursor: pointer;
}

/* stylings for fields that have a caption */
.fieldWrapper {
	padding: 0 var(--margin-width);
	box-sizing: border-box;
}

.fieldWrapper input {
	max-width: 100%;
}
.fieldWrapper select {
	width: calc(100% - var(--container-margin-width));
}

.fieldCaption {
    line-height: 1.5;
    color: grey;
}

.top-caption {
	display: block;
}

button .fa {
	vertical-align: middle;
}

button {
	cursor: pointer;
}

/* modal-dialogues */
.modal-curtain {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-color: black;
	top: 0;
}

.window {
	background-color: white;
	position: absolute;
	height: 80%;	
	width: 80%;
	top: 10%;
	left: 10%;
	z-index: 1000;
}

/* Specialized Styles */
.dashboard-tile {
	display: inline-block;
	width: 100%;
	height: 33%;
	
	padding: var(--margin-width);
	box-sizing: border-box;
	position:relative;
}

.horizontal-layouted-component {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	float: left;
}